html,body{
    width: 100%;
    height: 100%;
    background: #eb2f64 !important;
    direction: rtl;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'iranl';
}
@font-face {
    font-family: 'iranm';
    src:url('../fonts/Iran Sans medium .ttf') format("truetype") ;
}
@font-face {
    font-family: 'iranl';
    src:url('../fonts/Iran Sans light .ttf') format("truetype") ;
}
@font-face {
    font-family: 'iranb';
    src:url('../fonts/Iran Sans Bold .ttf') format("truetype") ;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #fff;
}
.col-sm-4 ,.col-sm-12 ,.col-sm-9{
    padding-right: 0!important;
    padding-left: 0!important;
}
.col-sm-3 {
}

.bg{
    background-color: #f4f4f4;
}
.pd{
    padding: 10px 40px;
}
.bg-w{
    background-color: #fff;
}
.mg-bt{
    margin-bottom: 30px;
}

main{
width: 90%;
    margin:50px auto auto auto
;
}
section .header{
    margin: 50px auto auto auto;
    background-color: #fff;
}
.glyphicon-envelope ,.glyphicon-bookmark{
    color: #000;
}
header{
    width: 100%;
    padding: 10px 20px;
    font-family: 'iranl';
}
.flx{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.flx div{
    margin-left: 50px;
}
.icn{
    position: relative;
    display: flex;
}
.adad{
    position: absolute;
    top: -16px;
    right: -18px;
    background: #eb2f64;
    color: #fff;
    width: 23px;
    height: 23px;
    text-align: center;
    line-height: 23px;
    border-radius: 50%;
    font-size: 15px !important;
}
.icn span{
    margin-left: 25px;
    font-size: 20px;

}
header img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.imguser{
    display: flex;
    align-items: center;
    font-size: 18px;
}
.imguser a{
    display: flex;
    color: #000;
    align-items: center;
}
.imguser :hover {
    text-decoration: none;
    box-shadow: 1px 1px 10px #a79a9a;
    background: #a79a9a ;
}
.icn span:hover{
    box-shadow: 1px 1px 10px #a79a9a;
    background: #a79a9a ;
}
.header-right{
    display: flex;
    align-items: center;
}
.header-left{
    display: flex;
    align-items: center;
}
.search{
position: relative;
}
.search input{
    background-color: #c4c0c2;
    border-radius: 20px;
    outline: none;
    border-color: transparent;
    width: 200px;
    height: 42px;

}
.input-group{
    position: relative;
    display: table;
    border-collapse: separate;
    width: 400px;
    height: 46px;
}
.input-group-addon:first-child {
    border-right: 0;
    position: absolute;
    left: -25px;
    top: 0px;
    color: red;
    height: 42px;
    border-radius: 20px 0 0 20px;
    background-color:#c4c0c2 ;
}

.logo{
    direction: ltr !important;
}

.glyphicon.glyphicon-search {
    position: relative;
    top: 8px;
    left: 11px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    color: #666363;
}
.menu{
    background-color:#343434;
    height: 1200px;
}
.menu ul{
    padding: 20px 10px;
}
.menu ul li{
    padding: 20px 0;
    transition: all 0.5s;

}
.menu ul li:hover{
    background: #eb2f64;
}
.menu ul li a:hover{
    text-decoration: none;

}
.menu ul li a{
    color: #fff;
    font-size: 20px;
    font-family: 'iranl';
}
.menu ul li a i{
    margin-left: 15px;
}
.main{
    background-color: #f4f4f4;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.title{
    margin-right: 20px;
}
.takhfif{
    width: 80px;
    background-color: #df2c64;
    height: 76px;
    text-align: center;
    line-height: 76px;
    color: #fff;
}
.fa-star , .fa-angle-right{
    color: #ae083c;
}
.location a , .link a{
    color: #eb2f64;
    font-size: 20px;
    position: relative;
}
.location a:hover{
    text-decoration: none;

}
.location a:before , .link a:before{
    content: '';
    width: 94px;
    background-color: #eb2f64;
    position: absolute;
    display: block;
    height: 2px;
    left: 0;
    right: 0;
    bottom: -10px;
}
.comment{
    background-color: #fff;
    padding: 30px;
    box-shadow: 1px 1px 4px;
}
.comment p{
    line-height: 25px;
}
.imgcm{
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.imgcm img{
    border-radius: 50%;
    width: 100px;
}
.imgcm h1{
    color: #eb2f64;
}
hr{
    width: 20px;
}
.flxcontent{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.flxcontent div{
    margin-left: 200px;
}
.flxcontent li{
    padding: 22px 0;
}
.flxcontent li a{
    font-size: 20px;
    color: #000;

}
.flximg{
    display: flex;
}
.flximg img{
    width: 63px;
    border-radius: 50%;
    margin-right: -15px;
    border: 4px solid #fff;
}
.flximg h5{
    margin-left: 20px;
}
.link{
    margin: 100px auto auto auto;
    text-align: center;
}
footer{
    margin-left: 150px;
    margin-top: 30px;
    text-align: center;
}